<form action="${action}" method="post">
    <input type="text" name="make" placeholder="Make" value="${make}" />
    <input type="text" name="model" placeholder="Model" value="${model}" />
    <button type="submit">Save</button>
</form>